.headerInner {
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapperInput {
    display: flex;
    margin-left: 60px;
    align-items: center;
}

.img {
    cursor: pointer;
    margin-left: 12px;
}

.text {
    cursor: pointer;
    margin-bottom: 8px;
}

.text:hover {
    color: white;
    text-decoration: underline;
}